* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head {
    position: relative;
}

.head .content {
    background-color: yellow;
    padding: 15px;
    position: absolute;
    bottom: 67px;
    left: 0;
    padding-right: 335px;
    opacity:0.6;
}

.imge {
    display: flex;
    justify-content:space-around;
    width: 710px;

}

.background {
    border: 1px solid yellow;
    background-color: yellow;
    height: 5px;
    width: 300px;
}
.img{
    border: 1px solid black;
    background-color: rgb(218, 58, 58);
    width: 300px;
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    gap: 20px;
}
.conten{
    height: 100px;
}
.p{
    width: 250px;
}
